.TodoItem{
    padding: 10px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: solid 5px #D2FF3A;
}
.TodoItem p{
    /*Establece la posicion del elemento en bloque en el sitio*/
    display: block;
    background-color: #D2FF3A;
    margin-inline-start: 10px;
    margin-inline-end: 40px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.TodoItem span{
    border-top-left-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
}
.TodoItem .Eliminar:hover{
    border: solid 1px red;
    background-color: red;
    color: white;
}
.TodoItem .Eliminar:active{
    border: solid 1px #D2FF3A;
    background-color: #D2FF3A;
    color: black;
}
.TodoItem .Eliminar{
    /*Establece la posicion del elemento de manera flexible*/
    display: flex;
    /*Define la distribucion del espacio en el elemento a lo largo de su eje: alinear desde el final*/
    justify-content: flex-end;
    /*Define el margen en linea de inicio y al final*/
    margin-inline-start: 95%;
    margin-inline-end: 10px;
    border: solid 1px white;
}
.TodoItem .correcto{
    border: solid 1px green;
    background-color: green;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-inline-start: 95%;
    margin-inline-end: 10px;
}
.TodoItem .pendiente{
    display: flex;
    justify-content: flex-end;
    margin-inline-start: 95%;
    margin-inline-end: 10px;
    border: solid 1px white;
}
.TodoItem .cumplido{
    color: #616161b4;
    text-decoration: line-through;
}