body {
  background: #89e69d;
}

#root {
  margin-top: 0%;
  margin-bottom: 25%;
  margin-right: 25%;
  margin-left: 25%;
}

button{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 760px;
  margin-left: 760px;
}

input{
    margin: 0px 315px;
}