.TodoList{
    background-color: white;
    /*colocar una sombra alrededor de la caja del elemento*/
    box-shadow: 5px 5px 10px 5px #D2FF3A;
    /*el contorno del borde del elemento: border-arriba/abajo-izquierda/derecha-*/
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.TodoList ul{
    list-style: none;
}